# ASSIGNMENT 4 & 5
## Machine Learning with Python
Authors: 
  - Zoe LE.
  - Guillermo RUBIO LÓPEZ.
  - Ugo CARROTI.
  - Or ANCHO.
  - Francisco Javier LEITÓN JIMÉNEZ.
  
### Problem Statement:
Build a machine learning application, which can help us predict the probability of purchase for each line in our dataset. The dataset contains two files named train.csv (to help you train your model) and test.csv (see readme.txt for more details). Once your model is built, you have to use the test.csv file to test your model, and send us your results as a csv file containing only two columns: id, prob.

### The code of the Assignment begins here:

### Predicting Purchases (Assignment 4)

### With Logistic Regression
First we will elaborate a Logistic Regression and a VIF based on the datasets.

In [5]:
# Import libraries
import numpy as np
import pandas as pd

# Load the datasets
df_train = pd.read_csv('train.csv')
df_test = pd.read_csv('test.csv')

# Print the schema
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31428 entries, 0 to 31427
Data columns (total 27 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   label         31428 non-null  int64
 1   id            31428 non-null  int64
 2   visitTime     31428 non-null  int64
 3   purchaseTime  31428 non-null  int64
 4   hour          31428 non-null  int64
 5   C1            31428 non-null  int64
 6   C2            31428 non-null  int64
 7   C3            31428 non-null  int64
 8   C4            31428 non-null  int64
 9   C5            31428 non-null  int64
 10  C6            31428 non-null  int64
 11  C7            31428 non-null  int64
 12  C8            31428 non-null  int64
 13  N1            31428 non-null  int64
 14  C9            31428 non-null  int64
 15  N2            31428 non-null  int64
 16  N3            31428 non-null  int64
 17  N4            31428 non-null  int64
 18  N5            31428 non-null  int64
 19  N6            31428 non-null  int64
 20  N7            31428 non-null  int64
 21  N8            31428 non-null  int64
 22  N9            31428 non-null  int64
 23  N10           31428 non-null  int64
 24  C10           31428 non-null  int64
 25  C11           31428 non-null  int64
 26  C12           31428 non-null  int64
dtypes: int64(27)
memory usage: 6.5 MB

In [6]:
# Describe the train dataset.
df_train.describe()

,label,id,visitTime,purchaseTime,hour,C1,C2,C3,C4,C5,...,N4,N5,N6,N7,N8,N9,N10,C10,C11,C12
count,31428.000000,31428.000000,3.142800e+04,3.142800e+04,31428.000000,3.142800e+04,3.142800e+04,3.142800e+04,3.142800e+04,3.142800e+04,...,31428.000000,31428.000000,31428.000000,31428.000000,31428.000000,31428.000000,31428.000000,3.142800e+04,3.142800e+04,3.142800e+04
mean,-0.996373,321870.448835,1.931855e+07,3.504330e+04,11.799701,2.264373e+09,1.331820e+09,2.255368e+09,1.018468e+09,2.741699e+09,...,0.134307,0.002386,0.027269,0.002164,0.415680,0.042319,0.057560,2.218926e+09,2.939366e+09,2.158890e+09
std,0.085098,184665.780120,1.690395e+04,8.221503e+05,4.695434,1.077516e+09,7.900907e+08,1.125852e+09,7.260969e+08,3.771211e+08,...,1.258795,0.156001,0.562668,0.079745,3.184785,1.008314,1.158253,1.235285e+09,1.020598e+09,1.416777e+09
min,-1.000000,37.000000,1.927433e+07,-1.000000e+00,0.000000,7.942600e+04,4.033814e+08,5.538985e+06,3.063949e+08,2.116767e+09,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.626600e+04,4.393702e+07,2.456084e+08
25%,-1.000000,162636.500000,1.930609e+07,-1.000000e+00,8.000000,1.464958e+09,4.033814e+08,1.408383e+09,6.524818e+08,2.116767e+09,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.140301e+09,2.379634e+09,1.213939e+09
50%,-1.000000,322691.500000,1.931761e+07,-1.000000e+00,12.000000,2.569487e+09,1.235983e+09,2.243934e+09,6.524818e+08,2.967513e+09,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.274128e+09,3.617852e+09,1.284343e+09
75%,-1.000000,481852.000000,1.933113e+07,-1.000000e+00,15.000000,2.834768e+09,2.018710e+09,3.326547e+09,6.524818e+08,2.967513e+09,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.376114e+09,3.831440e+09,4.220792e+09
max,1.000000,638505.000000,1.936054e+07,1.935732e+07,23.000000,4.294924e+09,2.541204e+09,4.292704e+09,2.308171e+09,3.955179e+09,...,20.000000,20.000000,20.000000,10.000000,97.000000,85.000000,86.000000,4.294964e+09,3.831440e+09,4.220792e+09

In [7]:
# check for missing values.
df_train.isna().sum()

label           0
id              0
visitTime       0
purchaseTime    0
hour            0
C1              0
C2              0
C3              0
C4              0
C5              0
C6              0
C7              0
C8              0
N1              0
C9              0
N2              0
N3              0
N4              0
N5              0
N6              0
N7              0
N8              0
N9              0
N10             0
C10             0
C11             0
C12             0
dtype: int64

In [8]:
# check for missing values test dataset.
df_test.isna().sum()

label           0
id              0
visitTime       0
purchaseTime    0
hour            0
C1              0
C2              0
C3              0
C4              0
C5              0
C6              0
C7              0
C8              0
N1              0
C9              0
N2              0
N3              0
N4              0
N5              0
N6              0
N7              0
N8              0
N9              0
N10             0
C10             0
C11             0
C12             0
dtype: int64

In [9]:
# Check data
df_train.head()

,label,id,visitTime,purchaseTime,hour,C1,C2,C3,C4,C5,...,N4,N5,N6,N7,N8,N9,N10,C10,C11,C12
0,-1,61518,19297675,-1,6,928106152,2541203883,3606287998,306394936,2967512603,...,0,0,0,0,0,0,0,1083418268,3831440054,830706566
1,-1,356604,19320277,-1,12,3382400190,2018710401,1302581498,2308170622,2967512603,...,2,0,0,0,6,0,0,2993954402,2379633508,1284343215
2,-1,603441,19346318,-1,20,2569487005,2018710401,4121075497,2210625817,2967512603,...,0,0,0,0,0,0,0,1601090997,3617851689,4220791646
3,-1,192754,19308171,-1,9,2569487005,2018710401,3531445293,652481754,2967512603,...,0,0,0,0,0,0,0,4114483006,3617851689,4220791646
4,-1,210892,19309442,-1,9,1659166197,2018710401,1047694444,2210625817,2967512603,...,0,0,0,0,0,0,0,1971402551,2196958187,830706566

In [10]:
# Check data
df_test.head()

,label,id,visitTime,purchaseTime,hour,C1,C2,C3,C4,C5,...,N4,N5,N6,N7,N8,N9,N10,C10,C11,C12
0,-1,25540,19420446,-1,16,2569487005,2018710401,1429850909,2308170622,2967512603,...,0,0,0,0,0,0,0,1887882016,3617851689,4220791646
1,-1,29938,19431062,-1,19,1981742921,1235983246,4203734567,652481754,2116767313,...,0,0,0,0,0,0,0,3375463994,2379633508,1284343215
2,-1,9585,19392956,-1,8,2486871669,1235983246,2776175989,652481754,2116767313,...,0,0,0,0,0,0,0,3441876061,2196958187,1550397227
3,-1,23597,19416124,-1,15,3427628467,1235983246,4172481347,652481754,2116767313,...,0,0,0,0,0,0,0,2835356425,3831440054,1213938795
4,-1,27695,19425109,-1,17,2214885086,2541203883,3948279888,652481754,2967512603,...,0,0,0,0,0,0,0,1453469701,3831440054,830706566

In [11]:
# Count of different values in label train
df_train['label'].value_counts()

-1    31371
 1       57
Name: label, dtype: int64

In [12]:
# Count of different values in label test
df_test['label'].value_counts()

-1    32086
Name: label, dtype: int64

Since we are looking to obtain the probability of an event, in this case the probability of purchase for each user in our dataset the proper model to implement in this case is a Logistic Regression. Scikit Learn has this library that we can use to create the model. However, first we want to know which of these features we can select to obtain the best model possible.

### Feature Selection
For the feature selection we will use a technique called Variance Inflation Factor (VIF) and analyze the correlation. (For further information about this technique check: https://www.reneshbedre.com/blog/variance-inflation-factor.html)

In [13]:
# Import the libraries necessaries to do the feature selection
import statsmodels.api as sm
from statsmodels.stats.outliers_influence import variance_inflation_factor

#Get all variables except label and id. 
X = df_train[['visitTime','purchaseTime','hour','C1','C2','C3','C4','C5','C6','C7','C8','N1','C9',
              'N2','N3','N4','N5','N6','N7','N8','N9','N10','C10','C11','C12']]   # independent variables
y = df_train['label']   # dependent variables
X.head()

,visitTime,purchaseTime,hour,C1,C2,C3,C4,C5,C6,C7,...,N4,N5,N6,N7,N8,N9,N10,C10,C11,C12
0,19297675,-1,6,928106152,2541203883,3606287998,306394936,2967512603,2712499304,2303407174,...,0,0,0,0,0,0,0,1083418268,3831440054,830706566
1,19320277,-1,12,3382400190,2018710401,1302581498,2308170622,2967512603,179712055,1342367140,...,2,0,0,0,6,0,0,2993954402,2379633508,1284343215
2,19346318,-1,20,2569487005,2018710401,4121075497,2210625817,2967512603,2900447837,2303407174,...,0,0,0,0,0,0,0,1601090997,3617851689,4220791646
3,19308171,-1,9,2569487005,2018710401,3531445293,652481754,2967512603,487561405,2303407174,...,0,0,0,0,0,0,0,4114483006,3617851689,4220791646
4,19309442,-1,9,1659166197,2018710401,1047694444,2210625817,2967512603,2712499304,2303407174,...,0,0,0,0,0,0,0,1971402551,2196958187,830706566

In [14]:
# add a constant
X = sm.add_constant(X)

# fit the regression model
reg = sm.OLS(y, X).fit()

# print the VIF results. Above 2.0 means high multicolinearity
pd.DataFrame({'variables':X.columns[1:], 'VIF':[variance_inflation_factor(X.values, i+1) for i in range(len(X.columns[1:]))]})

       variables         VIF
0      visitTime  262.869733
1   purchaseTime    1.403023
2           hour  262.902859
3             C1    1.024604
4             C2    1.524796
5             C3    1.020971
6             C4    1.520842
7             C5    1.444449
8             C6    1.116950
9             C7    1.086502
10            C8    1.162877
11            N1    1.560979
12            C9    1.252260
13            N2    1.299622
14            N3    3.118830
15            N4    4.764156
16            N5    1.055243
17            N6    2.470398
18            N7    1.359373
19            N8   11.551852
20            N9    5.967510
21           N10    5.964425
22           C10    1.013088
23           C11    1.184933
24           C12    1.478295

From the VIF analysis we can see that:
  - visitTime
  - hour
  - N3
  - N4
  - N6
  - N8
  - N9
  - N10
  
Have a high multicolinearity, therefore to identify with which features they have high relationship we need to print the correlation matrix, and remove those features that have high relationship with these and run again VIF analysis until we get all of them with an score less than 2.0.

In [15]:
# define X again without the constant
X = df_train[['visitTime','purchaseTime','hour','C1','C2','C3','C4','C5','C6','C7','C8','N1','C9',
              'N2','N3','N4','N5','N6','N7','N8','N9','N10','C10','C11','C12']]   # independent variables

# get the correlations
#X.corr().to_csv("correlations.csv",sep=";")
X.corr()

,visitTime,purchaseTime,hour,C1,C2,C3,C4,C5,C6,C7,...,N4,N5,N6,N7,N8,N9,N10,C10,C11,C12
visitTime,1.000000,0.005815,0.998092,0.011742,-0.021600,-0.011627,0.051565,-0.040371,0.059132,0.008802,...,0.026420,0.006853,0.014143,-0.000400,0.036550,0.013527,0.012626,-0.000176,0.051994,0.072373
purchaseTime,0.005815,1.000000,0.005992,-0.002730,0.003442,-0.000712,-0.005860,0.008663,0.017483,-0.036515,...,0.203410,0.071303,0.230528,0.092630,0.232101,0.514525,0.470614,-0.005069,-0.001278,-0.016742
hour,0.998092,0.005992,1.000000,0.011623,-0.021613,-0.012099,0.051268,-0.039976,0.058947,0.008625,...,0.027168,0.006560,0.014412,-0.000202,0.037086,0.013552,0.012575,-0.000184,0.052295,0.071955
C1,0.011742,-0.002730,0.011623,1.000000,0.024736,0.021227,0.042015,0.049402,0.013999,0.031409,...,-0.013335,-0.005202,0.010162,0.005695,-0.013904,-0.006939,-0.011425,0.000293,0.072482,0.148559
C2,-0.021600,0.003442,-0.021613,0.024736,1.000000,-0.033626,0.522098,0.188290,-0.024301,0.046606,...,0.012293,-0.003979,0.021354,0.005619,0.004571,0.007887,0.010729,-0.055098,0.111602,0.133126
C3,-0.011627,-0.000712,-0.012099,0.021227,-0.033626,1.000000,-0.051367,0.035305,0.011187,-0.000490,...,-0.002444,0.008495,0.002335,-0.003647,0.002815,0.003306,0.004317,0.000864,0.021532,0.074496
C4,0.051565,-0.005860,0.051268,0.042015,0.522098,-0.051367,1.000000,0.301824,0.018999,0.036268,...,-0.010637,-0.005169,0.003998,-0.006557,-0.018941,-0.008732,-0.006200,-0.022361,0.128080,0.211202
C5,-0.040371,0.008663,-0.039976,0.049402,0.188290,0.035305,0.301824,1.000000,0.125719,0.008757,...,0.040794,-0.020289,0.024300,0.005445,0.007496,0.015806,0.018107,-0.093148,0.109476,0.265741
C6,0.059132,0.017483,0.058947,0.013999,-0.024301,0.011187,0.018999,0.125719,1.000000,-0.002959,...,0.018428,0.020634,0.019519,-0.000492,0.069547,0.024832,0.029970,0.016071,-0.008306,0.039842
C7,0.008802,-0.036515,0.008625,0.031409,0.046606,-0.000490,0.036268,0.008757,-0.002959,1.000000,...,-0.034457,0.001486,-0.021584,-0.018189,-0.042991,-0.027543,-0.036457,0.014456,0.057068,0.164114
C8,0.119564,0.004197,0.119237,-0.007672,-0.295987,0.020281,-0.098485,-0.201160,-0.009156,-0.062604,...,-0.033142,0.003809,-0.020325,-0.007631,-0.032423,-0.004567,-0.011049,0.011445,-0.043861,-0.018584
N1,0.012089,0.041267,0.014503,-0.051824,0.009429,-0.002296,0.006588,0.264212,-0.037446,-0.246041,...,0.110351,-0.000232,0.052563,0.028004,0.125647,0.053844,0.066858,-0.025641,-0.036554,-0.247088
C9,0.082722,0.029986,0.083878,0.007018,-0.049385,-0.072116,-0.025080,0.117501,-0.236198,-0.043139,...,0.063283,-0.006667,0.041720,0.018534,0.031879,0.024056,0.028030,-0.015461,0.042772,-0.007290
N2,-0.021907,0.008046,-0.020094,-0.024245,0.038045,-0.034679,-0.019544,0.149258,-0.046455,-0.080697,...,0.039056,-0.003818,0.010070,0.003433,0.010651,0.006042,0.006845,-0.019434,-0.006388,-0.126409
N3,0.036165,0.117632,0.036497,-0.015229,-0.024341,-0.002251,-0.039773,-0.060791,0.085084,-0.031969,...,0.349852,0.127400,0.294465,0.178854,0.681235,0.161171,0.210921,0.019337,-0.013664,-0.075570
N4,0.026420,0.203410,0.027168,-0.013335,0.012293,-0.002444,-0.010637,0.040794,0.018428,-0.034457,...,1.000000,-0.001632,0.566682,0.304263,0.825176,0.329649,0.368547,-0.004138,0.002419,-0.062559
N5,0.006853,0.071303,0.006560,-0.005202,-0.003979,0.008495,-0.005169,-0.020289,0.020634,0.001486,...,-0.001632,1.000000,-0.000741,-0.000415,0.102013,0.017159,0.031995,0.004289,0.000645,-0.011926
N6,0.014143,0.230528,0.014412,0.010162,0.021354,0.002335,0.003998,0.024300,0.019519,-0.021584,...,0.566682,-0.000741,1.000000,0.492257,0.669907,0.373009,0.413678,-0.003069,0.001590,-0.028837
N7,-0.000400,0.092630,-0.000202,0.005695,0.005619,-0.003647,-0.006557,0.005445,-0.000492,-0.018189,...,0.304263,-0.000415,0.492257,1.000000,0.329226,0.070884,0.108547,-0.000391,0.002268,-0.013838
N8,0.036550,0.232101,0.037086,-0.013904,0.004571,0.002815,-0.018941,0.007496,0.069547,-0.042991,...,0.825176,0.102013,0.669907,0.329226,1.000000,0.437009,0.493050,0.006068,-0.003296,-0.077851
N9,0.013527,0.514525,0.013552,-0.006939,0.007887,0.003306,-0.008732,0.015806,0.024832,-0.027543,...,0.329649,0.017159,0.373009,0.070884,0.437009,1.000000,0.904951,-0.010150,-0.005500,-0.024018
N10,0.012626,0.470614,0.012575,-0.011425,0.010729,0.004317,-0.006200,0.018107,0.029970,-0.036457,...,0.368547,0.031995,0.413678,0.108547,0.493050,0.904951,1.000000,-0.011529,-0.003759,-0.029505
C10,-0.000176,-0.005069,-0.000184,0.000293,-0.055098,0.000864,-0.022361,-0.093148,0.016071,0.014456,...,-0.004138,0.004289,-0.003069,-0.000391,0.006068,-0.010150,-0.011529,1.000000,-0.007489,-0.016011
C11,0.051994,-0.001278,0.052295,0.072482,0.111602,0.021532,0.128080,0.109476,-0.008306,0.057068,...,0.002419,0.000645,0.001590,0.002268,-0.003296,-0.005500,-0.003759,-0.007489,1.000000,0.380233
C12,0.072373,-0.016742,0.071955,0.148559,0.133126,0.074496,0.211202,0.265741,0.039842,0.164114,...,-0.062559,-0.011926,-0.028837,-0.013838,-0.077851,-0.024018,-0.029505,-0.016011,0.380233,1.000000

In [16]:
# Remove those that have high correlation hour, N6, N8, N10
X = df_train[['visitTime','purchaseTime','C1','C2','C3','C4','C5','C6','C7','C8','N1','C9',
              'N2','N3','N4','N5','N7','N9','C10','C11','C12']]   # independent variables
X = sm.add_constant(X)

# Running again the VIF
pd.DataFrame({'variables':X.columns[1:], 'VIF':[variance_inflation_factor(X.values, i+1) for i in range(len(X.columns[1:]))]})

       variables       VIF
0      visitTime  1.048790
1   purchaseTime  1.375914
2             C1  1.024107
3             C2  1.524485
4             C3  1.020731
5             C4  1.520645
6             C5  1.444160
7             C6  1.113598
8             C7  1.086154
9             C8  1.162693
10            N1  1.552557
11            C9  1.251529
12            N2  1.298030
13            N3  1.204089
14            N4  1.360271
15            N5  1.024857
16            N7  1.115093
17            N9  1.473541
18           C10  1.012980
19           C11  1.184775
20           C12  1.478138

### Model Development
After selecting the features and dropping those that are not necessary (hour, N6, N8, N10), we can proceed with the most important features of the model.

In [17]:
# Import Libraries
from sklearn.linear_model import LogisticRegression

# Train dataset
X_train = df_train[['visitTime','purchaseTime','C1','C2','C3','C4','C5','C6','C7','C8','N1','C9',
              'N2','N3','N4','N5','N7','N9','C10','C11','C12']]   # independent variables
y_train = y

log_model = LogisticRegression()
log_model.fit(X_train,y_train)

LogisticRegression()

### Testing the dataset
In this section we process the test dataset and review the modeling results with the test dataset.

In [18]:
# Import the classification report
from sklearn.metrics import classification_report

# Select the features of the test dataset
X_test = df_test[['visitTime','purchaseTime','C1','C2','C3','C4','C5','C6','C7','C8','N1','C9',
              'N2','N3','N4','N5','N7','N9','C10','C11','C12']]
y_test = df_test['label']

# Make the predictions
predictions = log_model.predict(X_test)

# Print a report
from sklearn.metrics import classification_report
print(classification_report(y_test, predictions))

# Prediction probabilities to make a purchase (+1).
prob_purchase = log_model.predict_proba(X_test)[:,1]
prob_purchase = pd.DataFrame(data=prob_purchase.flatten())
prob_purchase = prob_purchase.rename(columns = {0:'prob'})
print("Prediction Purchase Probabilities")
prob_purchase

              precision    recall  f1-score   support

          -1       1.00      1.00      1.00     32086

    accuracy                           1.00     32086
   macro avg       1.00      1.00      1.00     32086
weighted avg       1.00      1.00      1.00     32086

Prediction Purchase Probabilities

               prob
0      5.892606e-19
1      4.094616e-15
2      1.549858e-15
3      7.593379e-16
4      1.994221e-20
...             ...
32081  9.799921e-20
32082  1.395642e-13
32083  1.050458e-19
32084  2.057612e-20
32085  5.205916e-16

[32086 rows x 1 columns]

In [19]:
predictions

array([-1, -1, -1, ..., -1, -1, -1])

In [20]:
#
df_all = pd.concat([df_test['id'], prob_purchase], axis=1)
df_all

          id          prob
0      25540  5.892606e-19
1      29938  4.094616e-15
2       9585  1.549858e-15
3      23597  7.593379e-16
4      27695  1.994221e-20
...      ...           ...
32081  25657  9.799921e-20
32082   6384  1.395642e-13
32083  26582  1.050458e-19
32084   5394  2.057612e-20
32085  26787  5.205916e-16

[32086 rows x 2 columns]

In [21]:
df_all.to_csv("predictionsLR.csv")

### With Random Forest
It's higly irregular a 100% of accuracy on a model, therefore, we are going to test another modeling approach from scratch, to validate if this issue persists. For this other approach we will proceed to create a Random Forest with a scaling dataset

In [22]:
# Load libraries
import pandas as pd
import numpy as np
import seaborn as sns
import sklearn 
from collections import Counter
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import accuracy_score, roc_auc_score, confusion_matrix, roc_curve, f1_score, precision_score, recall_score

In [23]:
# Load the datasets again
trainRF = pd.read_csv('train.csv')  
testRF = pd.read_csv('test.csv')

In [24]:
# Check the dataset
trainRF.head()

,label,id,visitTime,purchaseTime,hour,C1,C2,C3,C4,C5,...,N4,N5,N6,N7,N8,N9,N10,C10,C11,C12
0,-1,61518,19297675,-1,6,928106152,2541203883,3606287998,306394936,2967512603,...,0,0,0,0,0,0,0,1083418268,3831440054,830706566
1,-1,356604,19320277,-1,12,3382400190,2018710401,1302581498,2308170622,2967512603,...,2,0,0,0,6,0,0,2993954402,2379633508,1284343215
2,-1,603441,19346318,-1,20,2569487005,2018710401,4121075497,2210625817,2967512603,...,0,0,0,0,0,0,0,1601090997,3617851689,4220791646
3,-1,192754,19308171,-1,9,2569487005,2018710401,3531445293,652481754,2967512603,...,0,0,0,0,0,0,0,4114483006,3617851689,4220791646
4,-1,210892,19309442,-1,9,1659166197,2018710401,1047694444,2210625817,2967512603,...,0,0,0,0,0,0,0,1971402551,2196958187,830706566

In [25]:
# Display only the values that have 1 in the dataset
trainRF.query('label==1').head()

,label,id,visitTime,purchaseTime,hour,C1,C2,C3,C4,C5,...,N4,N5,N6,N7,N8,N9,N10,C10,C11,C12
68,1,109368,19302271,19302544,7,1645466143,1830830742,142621875,2308170622,2967512603,...,0,0,0,0,6,3,3,533668207,3831440054,1213938795
906,1,370974,19321440,19321463,13,2099343945,403381353,2780744710,652481754,2116767313,...,0,0,0,0,1,1,1,3469607743,621902171,1213938795
3984,1,422421,19325637,19325720,14,1069679356,2018710401,2553567334,652481754,2967512603,...,0,0,0,0,2,2,2,2376405626,3831440054,1213938795
4024,1,430229,19326297,19326434,14,2569487005,2541203883,946587798,2308170622,2967512603,...,0,0,0,0,0,0,0,1802719258,3617851689,4220791646
4225,1,337818,19318789,19321607,12,2569487005,2541203883,1116220500,2308170622,2967512603,...,0,0,0,0,0,0,0,2197151336,3617851689,4220791646

#### Scaling the datasets

In [26]:
# Drop the ID's visitTime and PurchaseTime
trainRF = trainRF.drop(['id', 'visitTime', 'purchaseTime'], axis=1)

# Dummification of the hours columns in the datasets
trainRF = pd.get_dummies(trainRF, columns = ['hour'], drop_first=True)
y_trainRF = trainRF.label
testRF = pd.get_dummies(testRF, columns = ['hour'], drop_first=True)

# Scaling the datasets
ss = StandardScaler()
train_scaled = pd.DataFrame(ss.fit_transform(trainRF),columns = trainRF.columns)

test_temp = testRF.drop(['id', 'visitTime', 'purchaseTime'], axis=1)
test_scaled = pd.DataFrame(ss.fit_transform(test_temp),columns = test_temp.columns)

X_trainRF = train_scaled.drop(['label'], axis=1)

X_testRF = test_scaled.drop(['label'], axis=1)

In [27]:
# Checking the Scaling
train_scaled.head()

,label,C1,C2,C3,C4,C5,C6,C7,C8,N1,...,hour_14,hour_15,hour_16,hour_17,hour_18,hour_19,hour_20,hour_21,hour_22,hour_23
0,-0.042626,-1.240156,1.530714,1.199928,-0.980702,0.598792,0.623343,0.292469,-1.254835,-0.441242,...,-0.272472,-0.245391,-0.240618,-0.243857,-0.200879,-0.176838,-0.169627,-0.137961,-0.101743,-0.0411
1,-0.042626,1.037613,0.869395,-0.846294,1.776241,0.598792,-1.239492,-1.724742,-1.482698,0.422445,...,-0.272472,-0.245391,-0.240618,-0.243857,-0.200879,-0.176838,-0.169627,-0.137961,-0.101743,-0.0411
2,-0.042626,0.283169,0.869395,1.657178,1.641898,0.598792,0.761576,0.292469,0.200648,-0.441242,...,-0.272472,-0.245391,-0.240618,-0.243857,-0.200879,-0.176838,5.895275,-0.137961,-0.101743,-0.0411
3,-0.042626,0.283169,0.869395,1.133450,-0.504054,0.598792,-1.013072,0.292469,-1.482698,-0.441242,...,-0.272472,-0.245391,-0.240618,-0.243857,-0.200879,-0.176838,-0.169627,-0.137961,-0.101743,-0.0411
4,-0.042626,-0.561677,0.869395,-1.072692,1.641898,0.598792,0.623343,0.292469,-0.129252,-0.441242,...,-0.272472,-0.245391,-0.240618,-0.243857,-0.200879,-0.176838,-0.169627,-0.137961,-0.101743,-0.0411

In [28]:
test_scaled.head()

,label,C1,C2,C3,C4,C5,C6,C7,C8,N1,...,hour_14,hour_15,hour_16,hour_17,hour_18,hour_19,hour_20,hour_21,hour_22,hour_23
0,0.0,0.279220,0.976947,-0.711560,1.865953,0.579409,0.104068,0.296032,1.343933,-0.444264,...,-0.236604,-0.235058,4.383836,-0.236751,-0.224228,-0.172292,-0.163861,-0.132062,-0.092121,-0.048726
1,0.0,-0.269692,-0.016309,1.728696,-0.488679,-1.691112,0.143342,0.296032,0.365664,-0.444264,...,-0.236604,-0.235058,-0.228111,-0.236751,-0.224228,5.804099,-0.163861,-0.132062,-0.092121,-0.048726
2,0.0,0.202063,-0.016309,0.472836,-0.488679,-1.691112,-0.917909,0.296032,0.365664,-0.444264,...,-0.236604,-0.235058,-0.228111,-0.236751,-0.224228,-0.172292,-0.163861,-0.132062,-0.092121,-0.048726
3,0.0,1.080664,-0.016309,1.701202,-0.488679,-1.691112,-0.917909,0.296032,0.365664,-0.444264,...,-0.236604,4.254270,-0.228111,-0.236751,-0.224228,-0.172292,-0.163861,-0.132062,-0.092121,-0.048726
4,0.0,-0.051954,1.639975,1.503966,-0.488679,0.579409,1.626393,0.296032,0.229462,-0.444264,...,-0.236604,-0.235058,-0.228111,4.223845,-0.224228,-0.172292,-0.163861,-0.132062,-0.092121,-0.048726

#### Modeling the Random Forest

In [29]:
# Model creation
modelRF =  RandomForestClassifier(max_depth=5, n_estimators=10, random_state=42)
modelRF.fit(X_trainRF, y_trainRF)

RandomForestClassifier(max_depth=5, n_estimators=10, random_state=42)

In [30]:
# Count the accuracy of the model
y_predRF = modelRF.predict(X_testRF)
Counter(y_predRF)

Counter({-1: 32081, 1: 5})

In [31]:
# Print the probabilities
y_probaRF = modelRF.predict_proba(X_testRF)[:,1]
y_probaRF

array([0.00014956, 0.00015429, 0.00032113, ..., 0.0004764 , 0.00014956,
       0.00015429])

In [32]:
# Check the probabilities sorted from lower to max
res = pd.DataFrame({'id': testRF.id, 'Label' : y_probaRF})
res.sort_values(by='Label')

          id     Label
16514  13620  0.000026
15780  15168  0.000028
23108  16747  0.000051
20716  11772  0.000093
8910   10023  0.000093
...      ...       ...
25406  28998  0.540082
12158  19581  0.544565
1921   19110  0.570082
15859  13397  0.624494
150    24379  0.714722

[32086 rows x 2 columns]

In [33]:
# Describe the final report and write it into a csv.
res.to_csv("predictionsRF.csv")
res.describe()

                 id         Label
count  32086.000000  32086.000000
mean   16043.500000      0.001346
std     9262.574705      0.014215
min        1.000000      0.000026
25%     8022.250000      0.000154
50%    16043.500000      0.000188
75%    24064.750000      0.000450
max    32086.000000      0.714722

As we can see, we obtain similar results as the ones obtained in the Logistic Regression, consequently, we need to take a special consideration with these datasets since these are imbalanced datasets, and that's what we are going to do in the next section.

## How to deal with imbalanced dataset? (Assignment 5)

As we have an imbalanced dataset we are gonna try to solve this problem by different ways. 
One of the options we can try to deal with this problem is to work with Decision Trees algorithm.

In [34]:

from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import roc_auc_score
from sklearn.metrics import accuracy_score

# Train model
rf = RandomForestClassifier()
rf.fit(X_train, y_train)
 
# Predict on testing set
pred_rf = rf.predict(X_test)
 
# Is our model still predicting just one class?
print(np.unique( pred_rf ) )
# [-1]
 
# Accuracy
print(accuracy_score(y_test, pred_rf) )
# 1
 
# Prediction probabilities to make a purchase (+1).
prob_purchase_rf = rf.predict_proba(X_test)[:,1]
prob_purchase_rf = pd.DataFrame(data=prob_purchase_rf.flatten())
prob_purchase_rf = prob_purchase_rf.rename(columns = {0:'prob'})
print("Prediction Purchase Probabilities")
prob_purchase_rf

#we can't calculate the AUROC as the decision tree has given as an outcome one label (-1)
#prob_rf = rf.predict_proba(X_test)
#prob_rf = [p[1] for p in prob_rf]
#print( roc_auc_score(y_test, prob_rf) )

[-1]
1.0
Prediction Purchase Probabilities

       prob
0       0.0
1       0.0
2       0.0
3       0.0
4       0.0
...     ...
32081   0.0
32082   0.0
32083   0.0
32084   0.0
32085   0.0

[32086 rows x 1 columns]

Let's try now with the algorithm called SMOTE. 
The SMOTE technique generates new instances of the minority class by interpolating the values of the closest minority instances to a given one.

In [35]:
#We need first to install the package imblearn in order to import the SMOTE module
#!pip install imblearn
from imblearn.over_sampling import SMOTE

In [36]:
print("Before OverSampling, counts of label '1': {}".format(sum(y_train == 1)))
print("Before OverSampling, counts of label '-1': {} \n".format(sum(y_train == -1)))

sm = SMOTE(random_state = 2)
X_train_smote, y_train_smote = sm.fit_resample(X_train, y_train.ravel())

print('After OverSampling, the shape of X_train: {}'.format(X_train_smote.shape))
print('After OverSampling, the shape of y_train: {} \n'.format(y_train_smote.shape))

print("After OverSampling, counts of label '1': {}".format(sum(y_train_smote == 1)))
print("After OverSampling, counts of label '-1': {}".format(sum(y_train_smote == -1)))

Before OverSampling, counts of label '1': 57
Before OverSampling, counts of label '-1': 31371

After OverSampling, the shape of X_train: (62742, 21)
After OverSampling, the shape of y_train: (62742,)

After OverSampling, counts of label '1': 31371
After OverSampling, counts of label '-1': 31371

We are also going to try NearMiss algorithm. It refers to a collection of undersampling methods that select examples based on the distance of majority class examples to minority class examples

In [37]:
from imblearn.under_sampling import NearMiss

In [38]:
print("Before Undersampling, counts of label '1': {}".format(sum(y_train == 1)))
print("Before Undersampling, counts of label '-1': {} \n".format(sum(y_train == -1)))

nr = NearMiss()

X_train_nearmiss, y_train_nearmiss = nr.fit_resample(X_train, y_train.ravel())

print('After Undersampling, the shape of X_train: {}'.format(X_train_nearmiss.shape))
print('After Undersampling, the shape of y_train: {} \n'.format(y_train_nearmiss.shape))

print("After Undersampling, counts of label '1': {}".format(sum(y_train_nearmiss == 1)))
print("After Undersampling, counts of label '-1': {}".format(sum(y_train_nearmiss == -1)))

Before Undersampling, counts of label '1': 57
Before Undersampling, counts of label '-1': 31371

After Undersampling, the shape of X_train: (114, 21)
After Undersampling, the shape of y_train: (114,)

After Undersampling, counts of label '1': 57
After Undersampling, counts of label '-1': 57

## Testing of the model with the dataset balanced

Below we can find the results of using logistic regression with the dataset balanced by the algorithm SMOTE

In [39]:
log_model1 = LogisticRegression()
log_model1.fit(X_train_smote, y_train_smote.ravel())
predictions_smote = log_model1.predict(X_test)


# print classification report
print(classification_report(y_test, predictions_smote))

              precision    recall  f1-score   support

          -1       1.00      1.00      1.00     32086

    accuracy                           1.00     32086
   macro avg       1.00      1.00      1.00     32086
weighted avg       1.00      1.00      1.00     32086

Below we can find the results of using logistic regression with the dataset balanced by the algorithm NearMiss

In [40]:
log_model2 = LogisticRegression()
log_model2.fit(X_train_nearmiss, y_train_nearmiss.ravel())
predictions_nearmiss = log_model2.predict(X_test)


# print classification report
print(classification_report(y_test, predictions_nearmiss))

              precision    recall  f1-score   support

          -1       1.00      0.15      0.26     32086
           1       0.00      0.00      0.00         0

    accuracy                           0.15     32086
   macro avg       0.50      0.07      0.13     32086
weighted avg       1.00      0.15      0.26     32086

/Users/Francisco/opt/anaconda3/lib/python3.8/site-packages/sklearn/linear_model/_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
/Users/Francisco/opt/anaconda3/lib/python3.8/site-packages/sklearn/metrics/_classification.py:1245: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/Users/Francisco/opt/anaconda3/lib/python3.8/site-packages/sklearn/metrics/_classification.py:1245: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/Users/Francisco/opt/anaconda3/lib/python3.8/site-packages/sklearn/metrics/_classification.py:1245: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [42]:
predictions_nearmiss

array([1, 1, 1, ..., 1, 1, 1])

In [44]:
# Prediction probabilities to make a purchase (+1).
prob_nearmiss = log_model2.predict_proba(X_test)[:,1]
prob_nearmiss = pd.DataFrame(data=prob_nearmiss.flatten())
prob_nearmiss = prob_nearmiss.rename(columns = {0:'prob'})
print("Prediction Purchase Probabilities")
prob_nearmiss

Prediction Purchase Probabilities

       prob
0       1.0
1       1.0
2       1.0
3       1.0
4       1.0
...     ...
32081   1.0
32082   1.0
32083   1.0
32084   1.0
32085   1.0

[32086 rows x 1 columns]

In [47]:
prob_nearmiss.describe()

               prob
count  32086.000000
mean       0.853231
std        0.353841
min        0.000000
25%        1.000000
50%        1.000000
75%        1.000000
max        1.000000

In [48]:
# Add the ID and the print it into a CSV
df_final = pd.concat([df_test['id'], prob_nearmiss], axis=1)
df_final
df_final.to_csv("predictionsNEARMISS.csv")

As we can observe, using this algorithm for balancing the dataset, we can obtain a better model that is less biased and that can perform better when classifying if there will be a purchase or not.